* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(241, 248, 255);
}


ul{
    list-style-type:none;
}

a{
    text-decoration: none;
  
}
.container{
    max-width: none;
    margin:auto;
    height: 40px;
    width:calc(100% - 80px) ;
 
}
.row1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.row{
    display: flex;
    justify-content: space-between; 
}

.hone, .htow {
    flex: 1; 
}
